.DS_Store
dist
bin
obj
*.suo
*testlog*
*.user
designtimebuild
node_modules
/dist
**/logs/*
**/tmp/*
**/.angular/cache
site/*
*.zip

# local config files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
.vs
*.suo
*.ntvs*
*.njsproj
*.sw?
/keycloak/role.json
/src/action-numbers/tmp/jdsm_action_number_api
/src/law-society/law-society-api/Files/Attachment*
